<p>本当に退会しますか？</p>
<p>退会すると、会員登録情報や<br>
これまでの購入履歴が閲覧できなくなります。<br>
退会する場合は、「退会する」をクリックしてください。</p>

<%= link_to customer_path(@customer.id),method: :delete do %>
	退会する
<% end %>

<%= link_to customer_path(@customer) do %>
	退会しない
<% end %>